* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
  height: 100%;
}

body
{
  height: 100%;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  background: #D4E6F4;
  font-size: 18px;
  line-height: 25px;
}

header {
    height: 90px;
    background: #1A446C;
    color: #D4E6F4;
}

h2 {
  margin-bottom: 30px;
  color: #8D0D19;
}

header h1
{
  padding: 1em;
}

nav {
    float: left;
    width: 25%;
    padding: 1em 2em;
    color: #D4E6F4;
    background: #8D0D19;
    height: 100%;
}

nav > ul {
    list-style: none;
}

main {
    float: left;
    width: 75%;
    padding: 1em 2em;
    background-color: #EEE4B9;
    color:black;
    height: 100%;
}

.selected
{
  font-weight: bold;
}

.page {
  list-style-type: square;
  margin-left: 10%;
}

.subject a,
.page a,
.spl_a {
  color:  #D4E6F4;
}

.spl_page {
  list-style-type: square;
  margin-left: 10%;
  color: black;
}

.subject:hover {
  font-weight: bold;
  cursor: pointer;
}

a {
  color: black;
  text-decoration: none;
}

#admin_ul {
  margin-left: 80px;;
}

table {
  width: 40%;
}

th {
  text-align: left;
}

input {
  margin-bottom: 10px;
}

#content {
  border: 1px solid black;
  min-width : 30%;
  max-width : 60%;
  margin-left :10%;
  text-align: center;
  padding: 1%;
  overflow: hidden;
}